.cardWrapper {
  margin: 0 10px;
}

.titleWrapper {
  height: 200px;
}

.userData {
  display: flex;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
  align-items: center;
  justify-content: center;
}

.avatar {
  height: 80px;
}

.user {
  font-size: 1.5rem;
  font-weight: 700;
}

.rating {
  font-size: 2rem;
  font-weight: 700;
  padding-bottom: 10px;
  text-align: center;
}

.textWrapper {
  height: 40vh;
  overflow: hidden;
}

.text {
  font-size: 1rem;
  font-weight: 500;
  padding-bottom: 10px;
}

.googleLogo {
  text-align: center;
  height: 80px;
}
