@import "../../styles/mixins.scss";

.galleryBgr {
  background-color: transparent;
  height: calc(80vh - 148px);
  padding-top: 20px;
}

.wrapper {
  background-color: var(--deep-green);
  padding-top: 90px;
}

.wrapperContent {
  color: var(--beige);
  margin: 0 10px 40px 10px;
}

.titleMain {
  font-size: 2.5rem;
  margin-left: 20px;
  margin-bottom: 10px;
  @include neonEffect;
}

.gridContainer {
  display: grid;
  grid-template-columns: 3fr 2fr 2fr;
  grid-template-rows: 20vh;
  gap: 15px;
}

.imageContainer {
  overflow: hidden;
}

.imageContainer img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
