@import "../../styles/mixins.scss";

.wrapper {
  background-color: var(--deep-green);
  padding-top: 90px;
}

.wrapperContent {
  color: var(--beige);
  margin: 0 10px 40px 10px;
}

.headContainer {
  display: flex;
  gap: 15px;
  margin-bottom: 60px;
  border-radius: 20px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 3fr 2fr;
}

.titleMain {
  margin-left: 20px;
  border-radius: 20px;
  margin-bottom: 10px;
  font-size: 2.5rem;
  @include neonEffect;
}

.photo {
  overflow: hidden;
  height: 30vh;
  background-color: white;
  object-fit: cover;
  border-radius: 20px;
  position: relative;
}

.photo img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
  margin: auto;
}

.photo2 {
  overflow: hidden;
  height: 30vh;
  object-fit: cover;
  border-radius: 20px;
}
.photo2 img {
  width: 100%;
}

.containerHorizontal {
  margin-bottom: 60px;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  gap: 15px;
  flex-direction: column;
}

.containerHorizontal p {
  background-color: rgb(70, 116, 116);
  padding: 10px;
  border-radius: 20px;
}

.containerVertical {
  margin-bottom: 60px;
  border-radius: 20px;
  overflow: hidden;
  gap: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.containerVertical div {
  background-color: rgb(70, 116, 116);
  padding: 10px;
  border-radius: 20px;
}

.containerVertical .photo img {
  min-height: 100%;
  object-fit: cover;
}

.text {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.75rem;
  background-color: rgb(70, 116, 116);
  padding: 10px;
  border-radius: 20px;
}

.titleSecound {
  font-size: 1.5rem;
  font-weight: 700;
}

.textList {
  font-size: 1rem;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1.5rem;
}

.textList li {
  list-style-type: none;
  display: flex;
  align-items: flex-start;
}

.textList ul {
  padding: 0;
  margin: 0;
}

.textList li img {
  height: 20px;
  margin-right: 5px;
}

.containerVertical2 {
  margin-bottom: 60px;
  border-radius: 20px;
  overflow: hidden;
  gap: 15px;
  display: grid;
  grid-template-columns: 2fr 3fr;
}

.carousel {
  border-radius: 20px;
  overflow: hidden;
  max-height: 50vh;
}
