.artistWrapper {
  overflow: hidden;
  /* max-height: calc(80vh - 148px); */
}

.photo {
  max-width: 100%;
  overflow: hidden;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-bottom: 20px;
  max-height: 60vh;
}
.photo img {
  max-width: 100%;
}

.artistText {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 20px;
  width: inherit;
}
