.reviewsBgr {
  background-color: transparent;
  padding: 20px;
}

.reviewsWrapper {
  margin: 20px;
}

.reviewsStats {
  display: flex;
  align-items: center;
  padding-top: 20px;
}

.reviewsStats p {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--beige);
  stroke: black;
  stroke-width: 3px;
}

.reviewsStats div {
  margin: 0 20px;
}

.reviewsNumber {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--beige);
}

.icon {
  stroke: black;
  stroke-width: 1px;
}
