.overlay {
  background-color: rgb(34, 4, 4, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;

  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}

.buttonWrapper {
  position: absolute;
  top: 30vh;
  right: 10px;
}

.button {
  background-color: rgb(68, 141, 9);
  border-radius: 15px;
  height: 40px;
}

.childrenWrapper {
  width: 90vw;
  z-index: 100;
  background-color: white;
  height: 200px;
  text-align: center;
  justify-content: center;
  margin: auto;
  border: solid 2px;
  border-radius: 20px;
}
