.footerWrapper {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin-top: 50px;
}

.footerAdress {
  height: 100px;
  /* z-index: 1; */
  position: relative;
  color: var(--beige);
  height: 150px;
  font-size: 1.2rem;
  margin: 30px 20px 60px 20px;
  text-align: center;
}

.footerAdress p {
  font-size: 1.75rem;
  margin-bottom: 10px;
  text-decoration: underline;
  letter-spacing: 0.7rem;
}

.footerAdress a,
.footerAdress address {
  text-decoration: none;
  color: var(--beige);
  font-style: normal;
  letter-spacing: 0.1rem;
  font-size: 1rem;
}

.footerSocial {
  padding: 30px 50px;
  border-top: 2px solid var(--beige);
  border-bottom: 2px solid var(--beige);
}

.footerCopyRights {
  margin-top: 30px;
  color: var(--beige);
  text-align: center;
  font-size: 0.75rem;
  letter-spacing: 0.2rem;
  margin-bottom: 50px;
}
