@import "normalize.css";

body {
  /* background-color: var(--deep-green); */
  background-color: var(--deep-green);
  /* font-family: "Roboto", sans-serif; */
  line-height: 1.5;
  /* color: var(--beige); */
  /* color: black; */
  color: var(--deep-green);

  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

* button {
  margin: 0;
  padding: 0;
  padding-inline: 0;
  padding-block: 0;
  border: 0;
}

:root {
  --deep-green: rgb(11, 40, 30);
  --middle-green: rgb(28, 100, 75);
  --middle2-green: rgb(70, 116, 116);
  --shadow-green: rgba(50, 228, 1, 0.9);
  --light-green: rgb(118, 159, 87);
  --beige: rgb(241, 241, 220);
  --light-orange: rgb(248, 131, 88);
  --orange: rgb(227, 63, 3);
  --toastify-bgr-color: #d0fae2;
  --skeleton-bgr: rgb(216, 211, 211);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  /* max-width: 100%; */
  height: auto;
}

a {
  text-decoration: none;
}
