.navBrg {
  width: 100vw;

  height: 100vh;
  position: fixed;
  top: 0;
  background-color: transparent;
  font-size: 1.6rem;
  margin-top: 76px;
}

.animatedBgrWrapper {
  max-width: 550px;
}

.navContainer {
  margin-top: 2rem;
  /* background-color: aquamarine; */
  /* border-bottom: 3px solid; */
}

.navPages {
  border-bottom: 3px solid;
  color: var(--beige);
  margin-bottom: 40px;
  padding-left: 40px;
  /* margin-left: 20px; */
}

.navFooter {
  margin: 0 40px 0 40px;
  max-width: 550px;
}

/* @media screen and (min-widt: 550px) {
  .navBrg,
  .navContainer {
    width: 550px;
    margin: 0, auto;
  }
} */
